apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "edms-analyzer.fullname" . }}
  labels:
    {{- include "edms-analyzer.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "edms-analyzer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "edms-analyzer.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "edms-analyzer.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: MAYAN_EDMS_URL
              value: "{{ .Values.mayanEdms.url }}"
          envFrom:
            - secretRef:
                name: {{ include "edms-analyzer.fullname" . }}-env
          volumeMounts:
            - mountPath: /home/svc/edms-analyzer/config.yml
              name: config-yaml
              subPath: config.yml
          ports:
            - name: http
              containerPort: 9292
          livenessProbe:
            httpGet:
              path: /heartbeat
              port: http
          readinessProbe:
            httpGet:
              path: /heartbeat
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: config-yaml
          configMap:
            name: {{ template "edms-analyzer.fullname" . }}-config
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
